.matrix {
  margin: 2rem auto;
  padding: 1rem;
  width: fit-content;
  background-color: rgb(255, 255, 186);
}

table {
  table-layout: auto;
  border-spacing: 20px;
  min-width: 60rem;
  min-height: 40rem;
}

td {
  text-shadow: 0 0px 1px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  width: 5rem;
  max-width: 5rem;
  word-wrap: break-word;
}

td>div {
  cursor: pointer;
  height: 8rem;
  overflow-y: auto;
}

td:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
}